.homepage {
	background:url(../images/hbackground/home.jpeg) no-repeat;
	background-position:center;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	text-align: center;
	height: 620px;
	
}
p{
	background :transparent;
}
h1{
	background :transparent;
}
.marquee{
	color: yellow
}