.homepage {
	background:url(../images/hbackground/home.jpeg) no-repeat;
	background-position:center;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	padding-top: 100px;
	text-align: center;
	height: 500px;
	
}
p{
	background :transparent;
}
h1{
	background :transparent;
}
.marquee{
	color: yellow
}