.homepage {
	background:url(../images/hbackground/home.jpeg) no-repeat;
	background-position:center;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	min-height:925px;
}