@font-face {
  font-family: "Marto";
  src: url("../fonts/Marto.ttf");
}
body {
  background: #feffca;
  font-family: Marto;
  text-shadow: 1px 1px #c0c0c0;
  margin : 0px;
}
#logo{
  background-color: #003f30;
}
a{
  text-decoration: none;
  color : green;
}
a:hover{
  text-decoration: none;
  color: white;
}
